@media (max-width: 420px) {
  .img__item {
    height: 200px;
  }
}

@media (max-width: 500px) {
  .btn-nav {
    display: block;
  }

  .container {
    box-sizing: border-box;
  }

  nav {
    position: absolute;
    z-index: 99;
    transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    transition: 0.3s ease-in-out;
  }

  .nav__list {
    background-color: #fff;
    position: absolute;
    z-index: 10;
    flex-direction: column;
  }

  .open {
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);
  }

  .nav__link {
    color: #000;
  }
}

@media (min-width: 600px) {
  .content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .img__item {
    height: 300px;
  }
}

@media (min-width: 650px) {
  .content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .detail-simple__img {
    height: 400px;
  }

  .detail-menu__wrapper {
    grid-template-rows: none;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 750px) {
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }

  restaurant-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    padding: 40px;
  }

  .img__item {
    height: 250px;
  }

  .detail-simple__img {
    height: 450px;
  }
}

@media (min-width: 850px) {
  .content {
    padding-left: 25px;
    padding-right: 25px;
  }

  .desc__p,
  .rating__score,
  .city__name,
  .address__name,
  .detail-menu__item {
    font-size: 16px;
  }

  .detail-simple__img {
    height: 500px;
  }
}

@media (min-width: 900px) {
  .content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .detail-simple {
    grid-template-rows: none;
    grid-template-columns: repeat(2, 1fr);
    min-height: 400px;
  }

  .detail-simple__img {
    height: auto;
  }

  .like {
    bottom: 10px;
  }
}

@media (min-width: 1100px) {
  .content {
    padding-left: 35px;
    padding-right: 35px;
  }

  restaurant-list {
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
  }
}

@media (min-width: 1200px) {
  .hero__img {
    min-width: 1200px;
  }

  .content {
    padding-left: 40px;
    padding-right: 40px;
  }
}
